name = "kevincl16-page-counter"
main = "src/index.js"
compatibility_date = "2026-08-15"

[[d1_databases]]
binding = "DB"
database_name = "kevincl16-pageviews"
database_id = "REPLACE_WITH_YOUR_D1_DATABASE_ID"
migrations_dir = "migrations"
